extends ../layout/main

block title
    | Горящие туры

block content
    .breadcrumps
        a(href="#").breadcrumps__item Главная
        a(href="#").breadcrumps__item Горящие туры
    .content
        h2.title Самые дешевые горящие туры в Турцию
        .block-text
            p.text На этой странце предоставлены горящие туры по лалала и тадада. Показаны минимальные цены за тур на двоих с вылетом из Москвы. Выбирайте подходящий тур и отдыхайте с выгодной скидкой.
            .visa Виза не требуется
        .ht-offer
            .ht-offer-block
                .ht-offer-item.js-offers
                    .ht-offer-item_img
                        img(src="./static/img/content/moscow_smart.jpg")
                    .ht-offer-item_img
                        img(src="./static/img/content/moscow_smart.jpg")
                    .ht-offer-item_img
                        img(src="./static/img/content/moscow_smart.jpg")
                .ht-offer-content
                    .ht-rate
                        .rating-block
                            .rating-result
                                span.active
                                span.active
                                span.active
                            span 5.5
                        .ht-icons
                            .ht-icons__item.ht-icons__item_plus
                                .tooltip.tooltip_plus
                                    span Медицинская страховка
                            .ht-icons__item.ht-icons__item_auto
                                .tooltip.tooltip_auto
                                    span Трансфер
                            .ht-icons__item.ht-icons__item_avia
                                .tooltip.tooltip_avia
                                    span Перелёт
                            .ht-icons__item.ht-icons__item_key
                                .tooltip.tooltip_key
                                    span Проживание
                    .ht-offer__title Live the LA Lifestyle in Loft n…
                    .ht-country Франдия | Париж — Лувр
                    .ht-offer-text
                        p Горящие туры на двоих с перелетом <br>
                            | Ближайшая дата вылета 10.09.2019
                        .more
                            span ?
                            .tooltip.tooltip_more
                                | В стоимость путевки обычно входит: перелет, трансфер, проживание, питание, страховка; ближайшее число вылета на отдых: 4 Октября.

                .ht-offer-price
                    .ht-offer-price__before
                        span 145 000
                    .ht-offer-price__after
                        span 108 000
                    a(href="#").arrow-wr
            .ht-offer-block
                .ht-offer-item.js-offers
                    .ht-offer-item_img
                        img(src="./static/img/content/moscow_smart.jpg")
                    .ht-offer-item_img
                        img(src="./static/img/content/moscow_smart.jpg")
                    .ht-offer-item_img
                        img(src="./static/img/content/moscow_smart.jpg")
                .ht-offer-content
                    .ht-rate
                        .rating-block
                            .rating-result
                                span.active
                                span.active
                                span.active
                            span 5.5
                        .ht-icons
                            .ht-icons__item.ht-icons__item_plus
                                .tooltip.tooltip_plus
                                    span Медицинская страховка
                            .ht-icons__item.ht-icons__item_auto
                                .tooltip.tooltip_auto
                                    span Трансфер
                            .ht-icons__item.ht-icons__item_avia
                                .tooltip.tooltip_avia
                                    span Перелёт
                            .ht-icons__item.ht-icons__item_key
                                .tooltip.tooltip_key
                                    span Проживание
                    .ht-offer__title Live the LA Lifestyle in Loft n…
                    .ht-country Франдия | Париж — Лувр
                    .ht-offer-text
                        p Горящие туры на двоих с перелетом <br>
                            | Ближайшая дата вылета 10.09.2019
                        .more
                            span ?
                            .tooltip.tooltip_more
                                | В стоимость путевки обычно входит: перелет, трансфер, проживание, питание, страховка; ближайшее число вылета на отдых: 4 Октября.


                .ht-offer-price
                    .ht-offer-price__before
                        span 145 000
                    .ht-offer-price__after
                        span 108 000
                    a(href="#").arrow-wr
            .ht-offer-block
                .ht-offer-item.js-offers
                    .ht-offer-item_img
                        img(src="./static/img/content/moscow_smart.jpg")
                    .ht-offer-item_img
                        img(src="./static/img/content/moscow_smart.jpg")
                    .ht-offer-item_img
                        img(src="./static/img/content/moscow_smart.jpg")
                .ht-offer-content
                    .ht-rate
                        .rating-block
                            .rating-result
                                span.active
                                span.active
                                span.active
                            span 5.5
                        .ht-icons
                            .ht-icons__item.ht-icons__item_plus
                                .tooltip.tooltip_plus
                                    span Медицинская страховка
                            .ht-icons__item.ht-icons__item_auto
                                .tooltip.tooltip_auto
                                    span Трансфер
                            .ht-icons__item.ht-icons__item_avia
                                .tooltip.tooltip_avia
                                    span Перелёт
                            .ht-icons__item.ht-icons__item_key
                                .tooltip.tooltip_key
                                    span Проживание
                    .ht-offer__title Live the LA Lifestyle in Loft n…
                    .ht-country Франдия | Париж — Лувр
                    .ht-offer-text
                        p Горящие туры на двоих с перелетом <br>
                            | Ближайшая дата вылета 10.09.2019
                        .more
                            span ?
                            .tooltip.tooltip_more
                                | В стоимость путевки обычно входит: перелет, трансфер, проживание, питание, страховка; ближайшее число вылета на отдых: 4 Октября.


                .ht-offer-price
                    .ht-offer-price__before
                        span 145 000
                    .ht-offer-price__after
                        span 108 000
                    a(href="#").arrow-wr
            .ht-offer-block
                .ht-offer-item.js-offers
                    .ht-offer-item_img
                        img(src="./static/img/content/moscow_smart.jpg")
                    .ht-offer-item_img
                        img(src="./static/img/content/moscow_smart.jpg")
                    .ht-offer-item_img
                        img(src="./static/img/content/moscow_smart.jpg")
                .ht-offer-content
                    .ht-rate
                        .rating-block
                            .rating-result
                                span.active
                                span.active
                                span.active
                            span 5.5
                        .ht-icons
                            .ht-icons__item.ht-icons__item_plus
                                .tooltip.tooltip_plus
                                    span Медицинская страховка
                            .ht-icons__item.ht-icons__item_auto
                                .tooltip.tooltip_auto
                                    span Трансфер
                            .ht-icons__item.ht-icons__item_avia
                                .tooltip.tooltip_avia
                                    span Перелёт
                            .ht-icons__item.ht-icons__item_key
                                .tooltip.tooltip_key
                                    span Проживание
                    .ht-offer__title Live the LA Lifestyle in Loft n…
                    .ht-country Франдия | Париж — Лувр
                    .ht-offer-text
                        p Горящие туры на двоих с перелетом <br>
                            | Ближайшая дата вылета 10.09.2019
                        .more
                            span ?
                            .tooltip.tooltip_more
                                | В стоимость путевки обычно входит: перелет, трансфер, проживание, питание, страховка; ближайшее число вылета на отдых: 4 Октября.


                .ht-offer-price
                    .ht-offer-price__before
                        span 145 000
                    .ht-offer-price__after
                        span 108 000
                    a(href="#").arrow-wr
            .ht-offer-block
                .ht-offer-item.js-offers
                    .ht-offer-item_img
                        img(src="./static/img/content/moscow_smart.jpg")
                    .ht-offer-item_img
                        img(src="./static/img/content/moscow_smart.jpg")
                    .ht-offer-item_img
                        img(src="./static/img/content/moscow_smart.jpg")
                .ht-offer-content
                    .ht-rate
                        .rating-block
                            .rating-result
                                span.active
                                span.active
                                span.active
                            span 5.5
                        .ht-icons
                            .ht-icons__item.ht-icons__item_plus
                                .tooltip.tooltip_plus
                                    span Медицинская страховка
                            .ht-icons__item.ht-icons__item_auto
                                .tooltip.tooltip_auto
                                    span Трансфер
                            .ht-icons__item.ht-icons__item_avia
                                .tooltip.tooltip_avia
                                    span Перелёт
                            .ht-icons__item.ht-icons__item_key
                                .tooltip.tooltip_key
                                    span Проживание
                    .ht-offer__title Live the LA Lifestyle in Loft n…
                    .ht-country Франдия | Париж — Лувр
                    .ht-offer-text
                        p Горящие туры на двоих с перелетом <br>
                            | Ближайшая дата вылета 10.09.2019
                        .more
                            span ?
                            .tooltip.tooltip_more
                                | В стоимость путевки обычно входит: перелет, трансфер, проживание, питание, страховка; ближайшее число вылета на отдых: 4 Октября.

                .ht-offer-price
                    .ht-offer-price__before
                        span 145 000
                    .ht-offer-price__after
                        span 108 000
                    a(href="#").arrow-wr
        .refresh-price
            button().refresh-btn
                span Обновить цены
            p
                span Показаны минимальные цены за тур на двоих с вылетом из Москвы
    .line-grey

    .content
        .block-text
            h2.title Горящие туры «Все включено» в Турцию
            .visa.visa_red Виза требуется

        .ht-offer
            .ht-offer-block
                .ht-offer-item.js-offers
                    .ht-offer-item_img
                        img(src="./static/img/content/moscow_smart.jpg")
                    .ht-offer-item_img
                        img(src="./static/img/content/moscow_smart.jpg")
                    .ht-offer-item_img
                        img(src="./static/img/content/moscow_smart.jpg")
                .ht-offer-content
                    .ht-rate
                        .rating-block
                            .rating-result
                                span.active
                                span.active
                                span.active
                            span 5.5
                        .ht-icons
                            .ht-icons__item.ht-icons__item_plus
                                .tooltip.tooltip_plus
                                    span Медицинская страховка
                            .ht-icons__item.ht-icons__item_auto
                                .tooltip.tooltip_auto
                                    span Трансфер
                            .ht-icons__item.ht-icons__item_avia
                                .tooltip.tooltip_avia
                                    span Перелёт
                            .ht-icons__item.ht-icons__item_key
                                .tooltip.tooltip_key
                                    span Проживание
                    .ht-offer__title Live the LA Lifestyle in Loft n…
                    .ht-country Франдия | Париж — Лувр
                    .ht-offer-text
                        p Горящие туры на двоих с перелетом <br>
                            | Ближайшая дата вылета 10.09.2019
                        .more
                            span ?
                            .tooltip.tooltip_more
                                | В стоимость путевки обычно входит: перелет, трансфер, проживание, питание, страховка; ближайшее число вылета на отдых: 4 Октября.

                .ht-offer-price
                    .ht-offer-price__before
                        span 145 000
                    .ht-offer-price__after
                        span 108 000
                    a(href="#").arrow-wr
            .ht-offer-block
                .ht-offer-item.js-offers
                    .ht-offer-item_img
                        img(src="./static/img/content/moscow_smart.jpg")
                    .ht-offer-item_img
                        img(src="./static/img/content/moscow_smart.jpg")
                    .ht-offer-item_img
                        img(src="./static/img/content/moscow_smart.jpg")
                .ht-offer-content
                    .ht-rate
                        .rating-block
                            .rating-result
                                span.active
                                span.active
                                span.active
                            span 5.5
                        .ht-icons
                            .ht-icons__item.ht-icons__item_plus
                                .tooltip.tooltip_plus
                                    span Медицинская страховка
                            .ht-icons__item.ht-icons__item_auto
                                .tooltip.tooltip_auto
                                    span Трансфер
                            .ht-icons__item.ht-icons__item_avia
                                .tooltip.tooltip_avia
                                    span Перелёт
                            .ht-icons__item.ht-icons__item_key
                                .tooltip.tooltip_key
                                    span Проживание
                    .ht-offer__title Live the LA Lifestyle in Loft n…
                    .ht-country Франдия | Париж — Лувр
                    .ht-offer-text
                        p Горящие туры на двоих с перелетом <br>
                            | Ближайшая дата вылета 10.09.2019
                        .more
                            span ?
                            .tooltip.tooltip_more
                                | В стоимость путевки обычно входит: перелет, трансфер, проживание, питание, страховка; ближайшее число вылета на отдых: 4 Октября.


                .ht-offer-price
                    .ht-offer-price__before
                        span 145 000
                    .ht-offer-price__after
                        span 108 000
                    a(href="#").arrow-wr
            .ht-offer-block
                .ht-offer-item.js-offers
                    .ht-offer-item_img
                        img(src="./static/img/content/moscow_smart.jpg")
                    .ht-offer-item_img
                        img(src="./static/img/content/moscow_smart.jpg")
                    .ht-offer-item_img
                        img(src="./static/img/content/moscow_smart.jpg")
                .ht-offer-content
                    .ht-rate
                        .rating-block
                            .rating-result
                                span.active
                                span.active
                                span.active
                            span 5.5
                        .ht-icons
                            .ht-icons__item.ht-icons__item_plus
                                .tooltip.tooltip_plus
                                    span Медицинская страховка
                            .ht-icons__item.ht-icons__item_auto
                                .tooltip.tooltip_auto
                                    span Трансфер
                            .ht-icons__item.ht-icons__item_avia
                                .tooltip.tooltip_avia
                                    span Перелёт
                            .ht-icons__item.ht-icons__item_key
                                .tooltip.tooltip_key
                                    span Проживание
                    .ht-offer__title Live the LA Lifestyle in Loft n…
                    .ht-country Франдия | Париж — Лувр
                    .ht-offer-text
                        p Горящие туры на двоих с перелетом <br>
                            | Ближайшая дата вылета 10.09.2019
                        .more
                            span ?
                            .tooltip.tooltip_more
                                | В стоимость путевки обычно входит: перелет, трансфер, проживание, питание, страховка; ближайшее число вылета на отдых: 4 Октября.


                .ht-offer-price
                    .ht-offer-price__before
                        span 145 000
                    .ht-offer-price__after
                        span 108 000
                    a(href="#").arrow-wr
            .ht-offer-block
                .ht-offer-item.js-offers
                    .ht-offer-item_img
                        img(src="./static/img/content/moscow_smart.jpg")
                    .ht-offer-item_img
                        img(src="./static/img/content/moscow_smart.jpg")
                    .ht-offer-item_img
                        img(src="./static/img/content/moscow_smart.jpg")
                .ht-offer-content
                    .ht-rate
                        .rating-block
                            .rating-result
                                span.active
                                span.active
                                span.active
                            span 5.5
                        .ht-icons
                            .ht-icons__item.ht-icons__item_plus
                                .tooltip.tooltip_plus
                                    span Медицинская страховка
                            .ht-icons__item.ht-icons__item_auto
                                .tooltip.tooltip_auto
                                    span Трансфер
                            .ht-icons__item.ht-icons__item_avia
                                .tooltip.tooltip_avia
                                    span Перелёт
                            .ht-icons__item.ht-icons__item_key
                                .tooltip.tooltip_key
                                    span Проживание
                    .ht-offer__title Live the LA Lifestyle in Loft n…
                    .ht-country Франдия | Париж — Лувр
                    .ht-offer-text
                        p Горящие туры на двоих с перелетом <br>
                            | Ближайшая дата вылета 10.09.2019
                        .more
                            span ?
                            .tooltip.tooltip_more
                                | В стоимость путевки обычно входит: перелет, трансфер, проживание, питание, страховка; ближайшее число вылета на отдых: 4 Октября.


                .ht-offer-price
                    .ht-offer-price__before
                        span 145 000
                    .ht-offer-price__after
                        span 108 000
                    a(href="#").arrow-wr
            .ht-offer-block
                .ht-offer-item.js-offers
                    .ht-offer-item_img
                        img(src="./static/img/content/moscow_smart.jpg")
                    .ht-offer-item_img
                        img(src="./static/img/content/moscow_smart.jpg")
                    .ht-offer-item_img
                        img(src="./static/img/content/moscow_smart.jpg")
                .ht-offer-content
                    .ht-rate
                        .rating-block
                            .rating-result
                                span.active
                                span.active
                                span.active
                            span 5.5
                        .ht-icons
                            .ht-icons__item.ht-icons__item_plus
                                .tooltip.tooltip_plus
                                    span Медицинская страховка
                            .ht-icons__item.ht-icons__item_auto
                                .tooltip.tooltip_auto
                                    span Трансфер
                            .ht-icons__item.ht-icons__item_avia
                                .tooltip.tooltip_avia
                                    span Перелёт
                            .ht-icons__item.ht-icons__item_key
                                .tooltip.tooltip_key
                                    span Проживание
                    .ht-offer__title Live the LA Lifestyle in Loft n…
                    .ht-country Франдия | Париж — Лувр
                    .ht-offer-text
                        p Горящие туры на двоих с перелетом <br>
                            | Ближайшая дата вылета 10.09.2019
                        .more
                            span ?
                            .tooltip.tooltip_more
                                | В стоимость путевки обычно входит: перелет, трансфер, проживание, питание, страховка; ближайшее число вылета на отдых: 4 Октября.

                .ht-offer-price
                    .ht-offer-price__before
                        span 145 000
                    .ht-offer-price__after
                        span 108 000
                    a(href="#").arrow-wr
        .refresh-price
            button().refresh-btn
                span Обновить цены
            p
                span Показаны минимальные цены за тур на двоих с вылетом из Москвы


    .line-grey.line-grey_bg
        .content
            .buy-tour
                .icon-fire
                .buy-tour-text
                    h2 Успейте купить горящие туры
                    span Предложения ограничены. Они разлетаются, как воздушные шары
                span.buy-tour-media Предложения ограничены. Они разлетаются, как воздушные шары
    .content.content_murgin
        h2.title Горящие туры из Москвы в Турцию
        .block-text
            p Турция – страна с мягким, теплым климатом, которая расположилась сразу на двух материках (юго-восточной Европе и юго-западной Азии). Берега государства омывают четыре моря – Мраморное, Средиземное, Эгейское и Черное. Современная Турция является наследницей крупнейших мировых цивилизаций – в ее истории, архитектуре и даже в менталитете населения оставили след традиции Персии, Древней Греции, Византии, Османской империи и Древнего Рима.

    .content
        h3.title Горящие туры в другие страны
        .other-country
            .oc-block
                .triangle
                .oc-block__image
                    img(src="./static/img/content/quad_25.jpg")
                .oc-block__text
                    .oc-block__title Австрия
                    p Австрия – страна с мягким, теплым климатом, которая…
                    span 19 000 руб.
            .oc-block
                .triangle
                .oc-block__image
                    img(src="./static/img/content/quad_25.jpg")
                .oc-block__text
                    .oc-block__title Австрия
                    p Австрия – страна с мягким, теплым климатом, которая расположилась сразу…
                    span 19 000 руб.
            .oc-block
                .triangle
                .oc-block__image
                    img(src="./static/img/content/quad_25.jpg")
                .oc-block__text
                    .oc-block__title Австрия
                    p Австрия – страна с мягким, теплым климатом, которая расположилась сразу…
                    span 19 000 руб.
            .oc-block
                .triangle
                .oc-block__image
                    img(src="./static/img/content/quad_25.jpg")
                .oc-block__text
                    .oc-block__title Австрия
                    p Австрия – страна с мягким, теплым климатом, которая расположилась сразу…
                    span 19 000 руб.
            .oc-block
                .triangle
                .oc-block__image
                    img(src="./static/img/content/quad_25.jpg")
                .oc-block__text
                    .oc-block__title Австрия
                    p Австрия – страна с мягким, теплым климатом, которая расположилась сразу…
                    span 19 000 руб.
            .oc-block
                .triangle
                .oc-block__image
                    img(src="./static/img/content/quad_25.jpg")
                .oc-block__text
                    .oc-block__title Австрия
                    p Австрия – страна с мягким, теплым климатом, которая расположилась сразу…
                    span 19 000 руб.
            .oc-block
                .triangle
                .oc-block__image
                    img(src="./static/img/content/quad_25.jpg")
                .oc-block__text
                    .oc-block__title Австрия
                    p Австрия – страна с мягким, теплым климатом, которая расположилась сразу…
                    span 19 000 руб.
