@media screen and (max-width: 1400px)
  .content
    max-width: 1100px
    margin: auto
    padding: 0
  .block-text
    margin-bottom: 27px
    p
      max-width: 823px
  .other-country
    justify-content: left
    grid-gap: 20px
  .oc-block
    margin-bottom: 0

@media screen and (max-width: 1150px)
  .content, .breadcrumps
    max-width: 100%
    padding: 0 40px

@media screen and (max-width: 1090px)
  .block-text
    +flexBlockColumn
    align-items: flex-start
    p
      max-width: 100%
      margin-bottom: 19px
    .title
      margin-bottom: 21px
  .visa
    //margin-top: 19px
    flex-direction: row-reverse
    &:after
      margin-left: 0
      margin-right: 7px
  .ht-offer
    grid-template-columns: repeat(auto-fill, 290px)
  .ht-offer-block
    margin-bottom: 36px

@media screen and (max-width: 967px)
  .ht-offer
    +flexBlockRow


@media screen and (max-width: 930px)
  .refresh-price
    flex-direction: column-reverse
    align-items: flex-start
    p
      margin-bottom: 20px
      margin-left: 0
      align-items: flex-start

@media screen and (max-width: 768px)
  .ht-offer
    grid-template-columns: repeat(auto-fill, 320px)
  .ht-offer-block
    max-width: 320px

@media screen and (max-width: 480px)
  .icon-fire:after
    background: url(../img/content/shape-small.svg) no-repeat 50%
  .content, .breadcrumps
    max-width: 100%
    padding: 0 30px
  .buy-tour-media
    display: block
    margin-top: 13px
    //font-size: 14px
  .icon-fire
    width: 46px
    height: 46px
  .ht-offer-block
    max-width: 100%
  .ht-offer-item
    max-width: 100%
  .ht-offer-price__after
    font-size: 30px
    //margin-left: 5px
  .arrow-wr
    width: 33px
    height: 33px
    background: url(../img/content/arrow-wr-small.svg) no-repeat 50%
  .ht-offer-price
    padding: 17px 8px 19px
  .buy-tour-text
    padding-left: 60px
    h2
      line-height: 24px
      font-size: 24px
    span
      display: none
      font-size: 16px
  .content, .breadcrumps
    max-width: 100%
    padding: 0 28px
  .content_murgin .block-text
    margin-bottom: 30px
  .line-grey_bg .content
    padding-top: 20px
    padding-bottom: 20px
  .refresh-price
    margin-bottom: 33px
  .ht-offer
    margin-top: 52px

  //.block-text p
  //  font-size: 14px
  //  ine-height: 1.29
  //.title
  //  font-size: 20px
  //  line-height: 1.1
  //  margin-bottom: 15px

  .oc-block__text
    padding: 14px 8px 0px 13px
    span
      margin-top: 6px


@media screen and (max-width: 480px)
  .other-country
    grid-template-columns: repeat(auto-fill,300px)

@media screen and (max-width: 380px)
  .other-country
    margin-top: 27px
  .other-country
    grid-template-columns: repeat(auto-fill,283px)
  .oc-block
    max-width: 283px
  .oc-block__text p
    width: 100%
    max-width: 160px
  .content, .breadcrumps
    max-width: 100%
    padding: 0 13px


@media screen and (max-width: 320px)
  .ht-offer-price__after
    margin-left: 5px
  .other-country
    grid-template-columns: repeat(auto-fill,283px)
  .oc-block
    max-width: 283px
  .content, .breadcrumps
    max-width: 100%
    padding: 0 13px
  .block-text p
    font-size: 14px
    ine-height: 1.29
  .title
    font-size: 20px
    line-height: 1.1
    margin-bottom: 15px
  .buy-tour-text
    padding-left: 60px
    h2
      line-height: 1
      font-size: 20px
    span
      display: none
  .ht-offer
    margin-top: 24px
  .refresh-price
    p
      margin-bottom: 17px
      &:before
        top: 5px
      span
        font-size: 14px
  .buy-tour-media
    font-size: 14px
    line-height: 1.29
    margin-top: 16px
  .block-text p
    font-size: 14px
